{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}

{{!-- <div class="p-5">
    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>

    <button type="button" class="btn btn-secondary">Купити</button>
</div> --}}
<main class="p-5">
    <div class="py-5">
        <h4>Список сторінок</h4>
        <p>My first project</p>
    </div>
    {{#with main}}
    <div class="row">
        {{#each link}}
        <div class="pb-2 col-4">
            <a href="{{href}}" style="width: 120px;" class="btn btn-primary" target="_blank">{{name}}</a>
        </div>
        {{/each}}
    </div>
    {{/with}}
</main>
{{!--
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}