<div class="card ms-5 p-5">
    <ul>
        {{#each list}}
        <li>

            <button {{#if @first}} disabled {{/if}}>{{name}}</button>
        </li>
        {{/each}}
        <br>
        <br>
        {{#each user}}
        <li>
            {{this}}
        </li>
        {{/each}}
    </ul>
</div>