{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div class="ms-5">

    {{#with main}}
    <main class="mb-5">
        <section class="card mb-3">
            <div class="card-body">
                <div class="card-title">
                    {{> title data="All skills" big=true}}
                </div>
                <ul>
                    {{#each skills}}
                    <li class="ms-5 mb-2">
                        {{name}}
                        {{#if point includeZero=true}} ({{point}}) {{/if}}
                        {{#if isTop}} (top) {{/if}}
                        {{#unless point includeZero=true}} do not study {{/unless}}
                        {{#unless point}}
                        {{#if point includeZero=true}}
                        (now study)
                        {{/if}}
                        {{/unless}}
                    </li>
                    {{/each}}
                </ul>
            </div>
        </section>
        <section class="card mt-3">
            <div class="card-body">
                <div class="card-title">
                    {{> title data="My hobbies" big=false}}
                </div>
                <ol>
                    {{#each hobbies}}
                    <li class="ms-5">
                        {{name}}
                        {{#if isMain}} (favourite) {{/if}}
                    </li>
                    {{/each}}
                </ol>
            </div>
        </section>
    </main>
    {{/with}}

</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}