<nav class="nav ps-5 mb-5">
    <div class="nav-item">
        {{> link text='Skills' href="/skills" }}
    </div>
    <div class="nav-item">
        {{> link text='Sammary' href="/summary" }}
    </div>
    <div class="nav-item">
        {{> link text='Education' href="/education" }}
    </div>
    <div class="nav-item">
        {{> link text='Work' href="/work" noLine=true}}
    </div>
</nav>