<nav class="nav ps-5 mb-5">
    <div class="nav-item">
        {{> link text='Skills' href="/skills" }}
    </div>
    <div class="nav-item">
        {{> link text='Sammary' href="/summary" }}
    </div>
    <div class="nav-item">
        {{> link text='Education' href="/education" }}
    </div>
    <div class="nav-item">
        {{> link text='Work' href="/work"}}
    </div>

    <div class="nav-item">
        {{> link text='Person' href="/person"}}
    </div>
    <div class="nav-item">
        {{> link text='Bio' href="/bio"}}
    </div>
    <div class="nav-item">
        {{> link text='Program' href="/program"}}
    </div>
    <div class="nav-item">
        {{> link text='Web' href="/web"}}
    </div>
    <div class="nav-item">
        {{> link text='JS' href="/js"}}
    </div>
    <div class="nav-item">
        {{> link text='Car' href="/car"}}
    </div>
    <div class="nav-item">
        {{> link text='Mac' href="/mac"}}
    </div>
    <div class="nav-item">
        {{> link text='Facebook' href="/facebook"}}
    </div>
    <div class="nav-item">
        {{> link text='Task21' href="/task21"}}
    </div>
    <div class="nav-item">
        {{> link text='Task22' href="/task22"}}
    </div>
    <div class="nav-item">
        {{> link text='Task31' href="/task31"}}
    </div>
    <div class="nav-item">
        {{> link text='Shophome' href="/shophome"}}
    </div>
    <div class="nav-item">
        {{> link text='Shopproduct' href="/shopproduct"}}
    </div>
    <div class="nav-item">
        {{> link text='Shoporder' href="/shoporder"}}
    </div>
    <div class="nav-item">
        {{> link text='Shopcart' href="/shopcart"}}
    </div>
    <div class="nav-item">
        {{> link text='Shopreview' href="/shopreview" noLine=true}}
    </div>
</nav>